git+https://github.com/m-bain/whisperX.git@8227807fa9e076901ea4b4fbbf79c9777a6f5e03
ffmpeg-python==0.2.0
gradio==3.38.0
yt-dlp
json5
torch
torchaudio
more_itertools
google-colab

# Needed by diarization
intervaltree
srt
torch
https://github.com/pyannote/pyannote-audio/archive/refs/heads/develop.zip